#background_nav{
    background-color: #2C3E50;
}
#nav_title{
    text-transform: uppercase;
}
#nav_items{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}
.ms_bg_green{
    background-color: #1ABC9C;
}
#img_size{
    height: 150px;
}
.h1_white{
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
}
.h3_white{
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
    font-size: 12px;
}
.h1_black{
    text-transform: uppercase;
    color: #2C3E50;
    white-space: nowrap;
    font-size: 30px;
}
#icon_star{
    text-align: center;
    color: white;
    font-size: 25px;
}
#icon_star_black{
    text-align: center;
    color: #2C3E50;
    font-size: 25px;
}
.solid {
    width: 100px;
    height: 2px;
    background-color: white;
  }

.solid_black{
    width: 100px;
    height: 2px;
    background-color: #2C3E50;
}
.card_img{
    height: 100px;
}